// Base Style

html, body {
  height: 100%;
}

body {
  color: $fontColor;
  background: linear-gradient($bgGradientTop, $bgGradientBottom) fixed;

  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

#app {
  overflow: hidden;
}

#todo-list {
  // Constraint width, and centered
  width: 40%;
  margin: 2em auto;
}

#header {
  transform: translateY(0px);

  &.is-fixed {
    width: 40%;
    position: fixed;
    top: 0;

    transform: translateY(-98px);
  }
}

#main-menu {
  margin-bottom: 2em;
}

#main {
  &.is-fixed {
    margin-top: 202px;
  }
}

// Header
@include block("header") {
  margin: 0.125em auto;

  color: $activeColor;
  font-weight: lighter;
  font-size: 72px;
  font-size: 4.5rem;

  text-align: center;

  @include element("subtitle") {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
