// Base Style

html, body {
  height: 100%;
}

body {
  color: $fontColor;
  background: linear-gradient($bgGradientTop, $bgGradientBottom);

  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

#todo-list {
  // Constraint width, and centered
  width: 40%;
  margin: 2em auto;
}

#main {
  margin-top: 2em;
}
