// Base Style

html, body {
  height: 100%;
}

body {
  color: $fontColor;
  background: linear-gradient($bgGradientTop, $bgGradientBottom);
}

#todo-list {
  // Constraint width, and centered
  width: 40%;
  margin: 2em auto;
}

.entry__completed {
  input {
    text-decoration: line-through;
  }
}
