// Todo Item

%item {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.5em;

  color: $activeColor;

  background: $itemBg;
  border-bottom: 1px solid $borderColor;
}

@include block("item") {
  @extend %item;

  // TODO: Prevent duplicate style
  @include modifier("higher") {
    @extend %item;
    padding: 0.5em 0.5em;

    &:hover {
      margin-bottom: 2px;
      box-shadow: 0px 1px 2px 1px $shadowColor;

      .item__control-button, .item__control-button--star { // TODO: Need to fix this
        opacity: 1;
      }
    }
  }

  @include element("input") {
    min-width: 100%;
    padding: 1em 1.25em;

    border: none;
    background: transparent;
    color: $activeColor;

    @include state("completed") {
      color: $deactiveColor;
      text-decoration: line-through;
    }

    &:focus {
      outline: 0;
    }
  }

  @include element("entry") {
    width: 80%; // Fill remain space

    @include breakpoint(sm) {
      width: 100%;
    }
  }

  @include element("complete") {
    width: 3em;
    margin-right: -0.5em;

    text-align: center;
  }

  @include element("complete-button") {
    font-size: 24px;

    border: none;
    background: transparent;
    color: $activeColor;

    @include state("completed") {
      color: $deactiveColor;
    }

    &:focus {
      outline: 0;
    }
  }

  @include element("control") {
    width: 3em;
    text-align: center;

    @include state("active") {
      .item__control-button {
        opacity: 1;
      }
    }
  }

  @include element("control-button") {
    display: inline-flex;

    border: none;
    background: transparent;

    color: $deactiveColor;

    opacity: 0;
    transition: opacity ease-out 250ms;
    will-change: opacity;

    @include state("active") {
      color: $activeColor;
    }

    @include modifier("star") {
      display: inline-flex;

      border: none;
      background: transparent;

      color: $deactiveColor;

      opacity: 0;

      @include state("active") {
        color: $starColor;
        opacity: 1;
      }

      &:focus { outline: 0; }
    }

    &:focus {
      outline: 0;
    }
  }

  &:hover {
    margin-bottom: 2px;
    box-shadow: 0px 1px 2px 1px $shadowColor;

    .item__control-button, .item__control-button--star { // TODO: Need to fix this
      opacity: 1;
    }
  }

}

// CSS Transition
.todo-item {
  &-enter, &-appear {
    max-height: 0;
    will-change: height, max-height;

    &.todo-item-enter-active, &.todo-item-appear-active {
      max-height: 500px;
      transition: 500ms ease-in;
    }
  }

  &-leave {
    max-height: 500px;
    will-change: height, max-height;

    &.todo-item-leave-active {
      max-height: 0;
      transition: 300ms ease-out;
    }
  }
}
